<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.idapgroup.android.mvp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".impl.TestActivity"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".impl.ActivityResumePausePresenterViewLifecycleTest$Activity"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".impl.ActivityStartStopPresenterViewLifecycleTest$Activity"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".impl.ActivityCreateDestroyPresenterViewLifecycleTest$Activity"
            android:theme="@style/Theme.AppCompat"/>
    </application>
</manifest>